<header id="main-header" class="py-2 bg-primary text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1> Post One</h1>
        </div>
      </div>
    </div>
  </header>

  <!-- ACTIONS -->
  <section id="action" class="py-4 mb-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-3 mr-auto">
          <a href="/" class="btn btn-light btn-block">
            <i class="fa fa-arrow-left"></i> Back To Dashboard
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- POSTS -->
  <section id="posts">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h4>Mustang</h4>
            </div>
            <div class="service-details" align="center">
              <div class="col-sm-5">
                <div class="view-product">
                  <img src="https://i.imgur.com/XzpKZnG.png" alt="">
                </div>
  
              </div>
              <div class="col-sm-7">
                <div class="service-information"><!--/service-information-->
                  <h2>Oil Change</h2>
                  <p>VIN: 1089772</p>
                  <p>Date of Service: 03/22/2018</p>
                  <p>Current Mileage: 15,000</p>
                  <p>Next service at: 20,000 miles</p>
                  <p>Title: Clean</p>
                </div><!--/service-information-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>